<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>
    <style>
        body{text-align: center;}
    </style>
</head>
<body>
    <div class="container">
    {% for quiz in quizs %}
        <h1>{{quiz.question}}</h1>
        <input type="radio" name="answer" value="{{quiz.choice1}}">{{quiz.choice1}}<br>
        <input type="radio" name="answer" value="{{quiz.choice2}}">{{quiz.choice2}}<br>
        <input type="radio" name="answer" value="{{quiz.choice3}}">{{quiz.choice3}}<br>
        <input type="radio" name="answer" value="{{quiz.choice4}}">{{quiz.choice4}}<br>
        <input type="radio" name="answer" value="{{quiz.choice5}}">{{quiz.choice5}}<br><br>

        <input type="submit" onclick="location.href='vote/'" value="투표">
        <input type="button" onclick="location.href='result/'" value="결과 확인">
    {% endfor %}
    </div>
</body>
</html>