<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit</title>
    <style>
      body {
        text-align: center;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Edit your to do list</h1>
    <div>
      <form action="{% url 'update' list.id %}" method="POST">
        {%csrf_token%}
        <input type="text" name="body" value="{{list.body}}" />
        <button type="submit">수정하기</button>
      </form>
    </div>
  </body>
</html>
